@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body[data-theme='light'] {
  --background-color: white;
}
body[data-theme='dark'] {
  --background-color: black;
}

.main {
  min-height: calc(100vh - 4rem - 224px);
}

.drawer {
  height: 100% !important;
}

.carousel-container .carousel-slide {
  display: flex;
  justify-content: center;
  height: 700px;
}

.carousel-container .carousel-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-container .carousel-slide::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0000001a;
}

.card figure img {
  max-width: 50%;
  max-height: 50%;
}

.card:hover figure img {
  transform: scale(1.2);
}

.view_image {
  min-width: 20em;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}